.headerButtons {
  display: flex;
  gap: 7px;
  .headerButtons__btnSignIn {}
  .btnMyPosts {
    width: 39px;
    height: 39px;
  }
  img {
    padding: 7px;
    border: 1px solid transparent;
    transition: all 0.15s ease-in-out 0s;
    cursor: pointer;
    &:hover {
      border: 1px solid var(--white-faint);
      border-radius: 7px;
    }
  }
}