.card {
  display: flex;
  align-items: center;
  gap: 20px;
  .card__content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 28px 0;
    border-bottom: 1px solid var(--grey-border);
    .card__star {
      cursor: pointer;
    }
    .card__info {
      flex: 1;
      .card__author {
        font-size: 12px;
        font-weight: 600;
      }
      .card__title {
        display: inline;
        font-weight: 600;
        &:hover {
          color: var(--blue-light);
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .card__comments {
      min-width: 80px;
      margin: 0 auto;
      padding: 0 0 0 30px;
      color: var(--grey);
      .comments__counter {
        font-family: var(--font-numbers);
        font-size: 17px;
        font-weight: 700;
        text-align: center;
        margin: 0 0 3px 0;
      }
      .comments__text {
        font-size: 13px;
        text-align: center;
      }
    }
    .card__controls {
      display: flex;
      gap: 10px;
      img {
        padding: 3px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 699.98px) {
  .card {
    .card__content {
      .card__comments {
        padding: 0 0 0 10px;
      }
    }
  }
}

@media (max-width: 479.98px) {
  .card {
    gap: 15px;
    .card__content {
      gap: 15px;
      .card__comments {
        padding: 0;
      }
    }
  }
}