/*--------- CONST ----------*/
:root {
  --font-main: 'Inter';
  
  --white: #FFFFFF;
  --background: #F8FBFD;
  --black: #1E1E28;
  --blue: #0069FF;
  --white-transparent: rgba(255, 255, 255, 0.6);
  
  --input: #FAFAFA;
  --disabled: #a8a8a8;
  --disabled-hover: #c9c9c9;
  --disabled-light: #d9d9d9;
  --success: #4DB84D;
  --warning: #FFAA00;
  --error: #DF5A5A;
  --delete: #DC1D1D;
}

/*--------- NULLING STYLE ----------*/
*{
	padding: 0;
	margin: 0;
	border: 0;}
*,*:before, after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 16px;
  font-weight: 400;
  font-family: var(--font-main);
  background-color: var(--background);
  color: var(--black);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;}
div, p, a, span {font-family: var(--font-main);}
input,button,textarea{font-family: var(--font-main);}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-mox-focus-inner {padding:0; border:0;}
a, a:visited{text-decoration: none; cursor: pointer; display: block;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{display: block; vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: 500}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: scroll; */
}

/*--------- STYLES ---------*/