.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  .post__author {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid var(--grey-border);
    img {
      width: 40px;
      height: 40px;
    }
    .author__info {
      .author__username {
        font-weight: 600;
      }
      .author__email {
        font-size: 12px;
      }
    }
  }
  .post__info {
    margin: 0 0 25px 0;
    .post__title {
      font-weight: 600;
      margin: 0 0 20px 0;
    }
    .post__body {
      line-height: 1.4em;
    }
  }
  .post__controls {
    margin: 0 0 60px 0;
  }
}

@media (max-width: 799.98px) {
  .post {
    .post__info {
      .post__body {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 479.98px) {
  .post {
    .post__author {
      margin: 0 0 15px 0;
      .author__info {
        .author__username {
          font-size: 16px;
        }
      }
    }
  }
}