.modal__background {
  position: fixed;
  z-index: 20;
  inset: 0px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  pointer-events: auto;
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--main);
    background: var(--white);
    border-radius: 20px;
    max-width: 500px;
    width: calc(100% - 40px);
    &.isDelete {
      border: 2px solid var(--delete);
    }
    .modal__content {
      position: relative;
      padding: 50px 50px 35px;
      .modal__cross {
        position: absolute;
        padding: 5px;
        top: 14px;
        right: 14px;
        cursor: pointer;
        transform: scale(1.3);
      }
      button {
        width: 100%;
      }
    }
  }
}